.article-container {
  width: 100%;
}

.article-container article {
  max-width: 40rem;
  width: 100%;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 1.5rem 0;
  }

  a {
    @extend %highlighted;
    text-underline-offset: 0;
  }
}

.article-container .article-title {
  margin-top: 0;
}

.article-body {
  --recursive-mono: 0.2;
  --recursive-casl: 0.4;
  font-family: "Recursive", sans-serif;
  font-size: 16px;
  margin: 2rem 0;
}

.headshot {
  float: left;
  margin-right: 1rem;
  width: 36%;
}
