@font-face {
  font-family: "PressStart2P";
  font-style: normal;
  font-weight: normal;
  src:
    url("fonts/PressStart2P-vaV7.woff") format("woff"),
    url("fonts/PressStart2P-vaV7.woff2") format("woff2");
}

@font-face {
  font-family: "Recursive";
  font-weight: 300 1000;
  src: url("fonts/Recursive_VF.woff2") format("woff2-variations");
}
