@font-face {
  font-family: 'PressStart2P';
  font-style: normal;
  font-weight: normal;
  src:
    url('fonts/PressStart2P-vaV7.woff') format('woff'),
    url('fonts/PressStart2P-vaV7.woff2') format('woff2');
}
