:root {
  --recursive-mono: 0;
  --recursive-casl: 0.6;
  --recursive-wght: 400;
  --recursive-slnt: 0;
  --recursive-crsv: 0.5;

  --bg-color: black;
  --primary-color: ghostwhite;
  --accent-color: seagreen;
}

* {
  font-variation-settings: "MONO" var(--recursive-mono),
    "CASL" var(--recursive-casl), "wght" var(--recursive-wght),
    "slnt" var(--recursive-slnt), "CRSV" var(--recursive-crsv);
}

body {
  background-color: var(--bg-color);
  color: var(--primary-color);
  font-family: "Recursive", sans-serif;
  line-height: 1.4;
}

h1 {
  --recursive-wght: 700;
  --recursive-casl: 0.6;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 3rem;
}

%highlighted {
  @supports (text-decoration-thickness: 100%) and (text-underline-offset: -10%)
    and (text-decoration-skip-ink: none) {
    transition: text-decoration-thickness 200ms ease-out,
      text-underline-offset 200ms ease-out;

    &:hover,
    &:focus,
    &:active {
      text-decoration-thickness: 115%;
      text-underline-offset: -100%;
    }
  }
}

a {
  @extend %highlighted;
  color: var(--accent-color);
  outline: none;
  text-decoration: none;

  @supports (text-decoration-thickness: 4px) and (text-underline-offset: -10%)
    and (text-decoration-skip-ink: none) {
    color: unset;
    text-decoration: var(--accent-color) underline 4px;
    text-decoration-skip-ink: none;
    text-underline-offset: 0;
  }
}

[data-focusable]::before {
  content: "▶";
  display: inline-block;
  margin-right: 0.25rem;
  visibility: hidden;
}

[data-focusable]:focus::before {
  visibility: visible;
}

main {
  flex-grow: 1;
  padding: 1rem 0 0;
}

.is-centered-x,
%is-centered-x {
  display: flex;
  justify-content: center;
}

.is-centered-y,
%is-centered-y {
  align-items: center;
  display: flex;
}

.is-centered {
  @extend %is-centered-x;
  @extend %is-centered-y;
}

.is-flex {
  display: flex;
}

.is-flex-column {
  display: flex;
  flex-direction: column;
}

.is-flex-wrap {
  flex-wrap: wrap;
}

.main-header {
  border: 2px solid #666;
  border-radius: 4px;
  width: max-content;
  margin: auto;
  padding: 1rem;

  .title {
    --recursive-wght: 700;
    --recursive-casl: 0.6;
    font-size: 1.2rem;
    display: inline-block;
    margin-right: 1rem;
  }

  small {
    --recursive-wght: 480;
    --recursive-slnt: -15;
    font-size: 1rem;
  }
}

.header-logo-text {
  margin-bottom: 1rem;
}

.header-logo {
  margin-right: 1rem;
}

.header-nav {
  --recursive-wght: 480;
  li:not(:last-child) {
    margin-right: 2rem;
  }
}

.container {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 1.5rem;
}
