:root {
  --recursive-mono: 0;
  --recursive-casl: 0;
}

* {
  font-variation-settings: "MONO" var(--recursive-mono),
    "CASL" var(--recursive-casl);
}

body {
  font-family: "Press Start 2P", sans-serif;
  line-height: 1.4rem;
}

h1 {
  font-size: 1.25rem;
}

h2 {
  font-size: 0.75rem;
}

a {
  color: unset;
  outline: none;
  text-decoration-color: seagreen;
  text-decoration-skip-ink: none;
  text-decoration-thickness: 4px;
  text-underline-offset: -10%;
}

[data-focusable]::before {
  content: "▶";
  display: inline-block;
  margin-right: 0.25rem;
  visibility: hidden;
}

[data-focusable]:focus::before {
  visibility: visible;
}

main {
  flex-grow: 1;
  padding: 3rem 0 0;
}

.is-centered-x,
%is-centered-x {
  display: flex;
  justify-content: center;
}

.is-centered-y,
%is-centered-y {
  align-items: center;
  display: flex;
}

.is-centered {
  @extend %is-centered-x;
  @extend %is-centered-y;
}

.is-flex {
  display: flex;
}

.is-flex-column {
  display: flex;
  flex-direction: column;
}

.is-flex-wrap {
  flex-wrap: wrap;
}

.logo {
  margin-right: 1rem;
}

.page {
  align-items: stretch;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 1.5rem;
}

.page-content {
  width: 100%;
}

.page-content article {
  max-width: 40rem;
  width: 100%;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 1.5rem 0;
  }

  a {
    text-underline-offset: 0;
  }
}

.body {
  --recursive-mono: 0.2;
  --recursive-casl: 0.4;
  font-family: "Recursive", sans-serif;
  font-size: 16px;
  margin: 2rem 0;
}
