:root {
  --bg-color: #111;
  --bg-color-bright: #282828;
  --primary-color: gainsboro;
  --primary-color-dimmed: #bbb;
  --primary-color-bright: white;
  --accent-color: seagreen;
  --border-color: #666; // 😈️
  
  @media (prefers-color-scheme: light) {
    --bg-color: #eee;
    --bg-color-bright: white;
    --primary-color: #333;
    --primary-color-dimmed: #555;
    --primary-color-bright: #111;
    --accent-color: lightseagreen;
    --border-color: #bbb;
  }
}

html {
  font-size: 16px;

  @media screen and (max-width: 720px) {
    font-size: 14px;
  }
}

body {
  background-color: var(--bg-color);
  color: var(--primary-color);
  font-family: "Asap", sans-serif;
  line-height: 1.4;
}

h1,
h2,
h3 {
  color: var(--primary-color-bright);
  font-family: "Rokkitt", serif;
  font-weight: normal;
  line-height: 1;
}

h1 {
  font-size: 3em;
  margin-bottom: 3rem;
  text-align: center;
}

small {
  font-style: italic;
}

b,
strong {
  font-weight: 600;
}

%highlighted {
  @supports (text-decoration-thickness: 100%) and (text-underline-offset: -10%)
    and (text-decoration-skip-ink: none) {
    transition: text-decoration-thickness 200ms ease-out,
      text-underline-offset 200ms ease-out;

    &:hover,
    &:focus,
    &:active {
      text-decoration-thickness: 90%;
      text-underline-offset: -80%;
    }
  }
}

a {
  @extend %highlighted;
  color: unset;
  outline: none;
  text-decoration-color: var(--accent-color);
  text-decoration-skip-ink: none;
  text-decoration-style: double;

  @supports (text-decoration-thickness: 4px) {
    text-decoration-style: solid;
    text-decoration-thickness: 4px;
  }

  // If it has to skip the ink, it better stay low
  @supports (text-decoration-skip-ink: none) {
    text-underline-offset: 0;
  }
}

[data-focusable]::before {
  content: "▶";
  display: inline-block;
  font-size: 75%;
  margin-right: 0.25rem;
  visibility: hidden;
}

[data-focusable]:focus::before {
  visibility: visible;
}

main {
  flex-grow: 1;
  padding: 1rem 0 0;
}

.is-centered-x,
%is-centered-x {
  display: flex;
  justify-content: center;
}

.is-centered-y,
%is-centered-y {
  align-items: center;
  display: flex;
}

.is-centered {
  @extend %is-centered-x;
  @extend %is-centered-y;
}

.is-flex {
  display: flex;
}

.is-flex-column {
  display: flex;
  flex-direction: column;
}

.is-flex-wrap {
  flex-wrap: wrap;
}

.main-header {
  border: 2px solid var(--border-color);
  border-radius: 4px;
  margin: auto;
  max-width: 100%;
  padding: 1rem;
  width: max-content;

  .title {
    display: inline-block;
    font-size: 1.4em;
    font-weight: 600;
    margin-right: 1rem;
  }

  small {
    font-size: 1em;
  }
}

.header-logo-text {
  flex-wrap: wrap;
  margin-bottom: 1rem;
  
  .title {
    font-family: "Rokkitt", serif;
  }
}

.header-logo {
  margin-right: 1rem;
}

.header-nav {
  font-family: "Rokkitt", serif;
  font-size: 1.25em;

  li:not(:last-child) {
    margin-right: 1.5rem;
  }}

.container {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 1.5rem;
}
