.info {
  display: flex;
}

.avatar {
  display: block;
  width: 192px;
  height: 192px;
  image-rendering: crisp-edges;
  margin-right: 1rem;
  position: relative;

  img {
    display: block;
    height: auto;
    width: 100%;
  }
}

.stat {
  align-items: center;
  display: flex;
}

.stat-label {
  font-size: 0.75rem;
  margin-right: 1rem;
}

.stat-bar {
  flex: 1;
  height: 0.5rem;
}

.main-menu {
  li {
    font-size: 1.25rem;
    margin: 1.5rem 0;
  }
}
