.page-wrapper {
  width: 100%;
}

.page-wrapper .page {
  max-width: 40rem;
  width: 100%;

  h1 {
    margin-bottom: 2.5rem;
  }

  h2,
  h3,
  h4 {
    --recursive-casl: 0.4;
    --recursive-wght: 750;
    font-weight: 700;
  }

  h2 {
    font-size: 1.75rem;
    margin: 5rem 0 0;
  }

  h3 {
    font-size: 1.4rem;
    margin: 2.5rem 0 1rem;
  }

  p,
  ol,
  ul {
    margin: 2rem 0;
  }

  em,
  i,
  blockquote,
  .page-footer {
    --recursive-slnt: -15;
    --recursive-crsv: 1;
    font-style: normal;
  }

  blockquote {
    padding-left: 1rem;
    border-left: 0.25rem solid var(--accent-color);
  }

  ol {
    padding-left: 2rem;
  }

  ul {
    padding-left: 1.5rem;
    list-style-type: disc;
  }

  pre {
    padding: 1rem;
    border-radius: 0.25rem;
    overflow-x: auto;
  }

  code {
    --recursive-mono: 1;
    --recursive-wght: 480;
    font-weight: 500;
    font-family: "Recursive", monospace;
    font-size: 1.1rem;
    color: var(--primary-color-dimmed);
  }

  kbd {
    --recursive-casl: 0;
    --recursive-wght: 480;
    font-weight: 500;
    font-family: "Recursive", monospace;
    font-size: 0.85rem;
    display: inline-block;
    margin: 0 2px;
    padding: 2px 4px;
    border-radius: 3px;
    border: 1px solid var(--border-color);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 2px 0 0 rgba(255, 255, 255, 0.4);
    line-height: 1;
    white-space: nowrap;
  }
}

.byline {
  --recursive-wght: 600;
  font-weight: 600;
  color: var(--primary-color-dimmed);

  address {
    font-style: normal;
    display: inline;
  }

  .tag:not(:last-child) {
    margin-right: 0.5rem;
  }
}

.page-wrapper .page-title {
  margin-top: 0;
}

.page-body {
  --recursive-mono: 0.1;
  --recursive-casl: 0.4;
  font-size: 1.15rem;
  margin: 2rem 0;
}

.page-footer-separator {
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.page-footer {
  font-size: 1rem;
  text-align: center;
}

.headshot {
  float: left;
  margin-right: 1rem;
  width: 36%;
}
