.page-wrapper {
  width: 100%;
}

.page {
  max-width: 80ch;
  width: 100%;

  h1 {
    margin-bottom: 2rem;
    margin-top: 1.5rem;
  }

  h2 {
    font-size: 2em;
    margin: 5rem 0 0;
  }

  h3 {
    font-size: 1.6em;
    margin: 2.5rem 0 1rem;
  }

  p,
  ol,
  ul {
    color: var(--primary-color);
    margin: 2rem 0;
  }

  blockquote {
    border-left: 0.25rem solid var(--accent-color);
    padding-left: 1rem;
  }

  ol {
    padding-left: 2rem;
  }

  ul {
    list-style-type: disc;
    padding-left: 1.5rem;
  }

  pre {
    border-radius: 0.25rem;
    box-shadow: 0 0 15px 0 var(--glow-color);
    overflow-x: auto;
    padding: 1rem;
  }

  code {
    color: var(--primary-color-dimmed);
    font-family: var(--monospace-font);
    font-size: 1em;
  }

  kbd {
    border: 1px solid var(--border-color);
    border-radius: 3px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 2px 0 0 rgba(255, 255, 255, 0.4);
    display: inline-block;
    font-family: var(--monospace-font);
    font-size: 0.85em;
    line-height: 1;
    margin: 0 2px;
    padding: 2px 4px;
    white-space: nowrap;
  }

  img {
    box-shadow: 0 0 15px 0 var(--glow-color);
    display: block;
    margin: auto;
    max-height: 20rem;
  }
}

.byline-container {
  color: var(--primary-color-dimmed);
  font-size: 0.85em;
  letter-spacing: 0.1em;
  margin-bottom: 3rem;
  text-align: center;
  text-transform: uppercase;

  .value {
    color: var(--primary-color-bright);
    font-weight: 600;
  }

  .tag:not(:last-child) {
    margin-right: 0.6ch;
  }
}

.page-body {
  font-size: 1.25em;
  margin: 2rem 0;
}

.page-footer-separator {
  margin-bottom: 1rem;
  margin-top: 3rem;
}

.page-footer {
  font-size: 1em;
  text-align: center;
}

.headshot {
  float: right;
  margin-left: 1rem;
  width: 36%;

  img {
    border-radius: 50%;
    float: right;
    width: 16rem;
  }
}
