.page-wrapper {
  width: 100%;
}

.page-wrapper .page {
  max-width: 40rem;
  width: 100%;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 1.5rem 0;
  }

  a {
    @extend %highlighted;
    text-underline-offset: 0;
  }

  em,
  i {
    --recursive-slnt: -15;
    --recursive-crsv: 1;
    font-style: normal;
  }
}

.byline {
  font-family: "Recursive", sans-serif;
  --recursive-slnt: -15;
  --recursive-wght: 600;

  address {
    font-style: normal;
    display: inline;
  }

  a {
    @extend %highlighted;
  }

  .tag {
    margin-right: 0.5rem;
  }
}

.page-wrapper .page-title {
  margin-top: 0;
}

.page-body {
  --recursive-mono: 0.2;
  --recursive-casl: 0.4;
  font-family: "Recursive", sans-serif;
  font-size: 16px;
  margin: 2rem 0;
}

.headshot {
  float: left;
  margin-right: 1rem;
  width: 36%;
}
