.section {
  max-width: 80ch;
  width: 100%;

  h1 {
    margin-bottom: 3.5rem;
    margin-top: 1.5rem;
  }
}

.section-list {
  li {
    align-items: flex-end;
    display: flex;
    justify-content: space-between;
    margin: 2.25rem 0;
  }

  a {
    font-size: 1.25em;
    margin-left: -20px;
  }

  time {
    font-size: 0.85em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
  }
}
