.section {
  max-width: 80ch;
  width: 100%;

  h1 {
    color: var(--primary-color-bright);
    margin-bottom: 3.5rem;
    margin-top: 1.5rem;
  }
}

.section-list {
  li {
    font-family: "Rokkitt", serif;
    font-size: 1.75em;
    margin: 2.5rem 0;
  }
}
