.article {
  font-size: 20px;
  max-width: 72ch;
  width: 100%;

  h1 {
    margin: 1em 0 0.25em;
  }
}

.section-list {
  display: grid;
  gap: 2.25em 1em;
  grid-template-columns: 1fr auto;
  margin-top: 3em;

  @media (max-width: 639px) {
    grid-template-columns: auto;
  }

  time {
    color: var(--primary-color-dimmed);
    font-size: 0.75em;
    font-variant-numeric: tabular-nums;
    justify-self: end;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    @media (max-width: 639px) {
      display: none;
    }
  }
}

.tag-list {
  display: flex;
  flex-flow: row wrap;
  gap: 1em 1.5em;
  margin-top: 3em;
}
