.hacker-style {
  --heading-font: var(--monospace-font);
  --body-font: var(--monospace-font);

  --bg-color: #fdf6e3;
  --bg-color-bright: var(--bg-color);
  --primary-color: #657b83;
  --primary-color-dimmed: var(--primary-color);
  --primary-color-bright: var(--primary-color);
  --accent-color: var(--primary-color);
  --border-color: var(--primary-color);
  --glow-color: transparent;

  @media (prefers-color-scheme: dark) {
    --bg-color: #111;
    --primary-color: #2fbb1d;
  }

  a {
    transition: none;
  }

  a:hover,
  a:focus,
  a:active {
    color: var(--bg-color);
  }

  [data-focusable]::before {
    color: var(--primary-color);
  }

  button {
    font-size: 16px;
  }

  button:hover {
    color: var(--bg-color);
  }

  h1 {
    font-size: 32px;
  }

  .home,
  .page-body,
  .byline-container,
  .section-list li {
    font-size: 16px;
  }

  b,
  strong,
  .byline-container .value {
    font-weight: normal;
  }
}
