{% extends "section.html" %}

{% block htmltitle %}
  #{{ term.name }}
{% endblock %}

{% block content %}
  <main class="section-wrapper is-centered-y is-flex-column">
    <article class="article">
      <header>
        <h1>#{{ term.name }}</h1>
      </header>
      <section class="section-list">
        {% for page in term.pages %}
          <a href="{{ page.permalink }}">{{ page.title }}</a>
          <time datetime="{{ page.date }}">{{ page.date | date(format="%-d %b %Y") }}</time>
        {% endfor %}
      </section>
    </article>
  </main>
{% endblock %}
