<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{% block htmltitle %} {% endblock %} · Dubious Disc</title>
  <meta name="description" content="{% block description %}Darshak Parikh's internet home{% endblock %}" />
  <link rel="stylesheet" href="/main.css" />
  <script src="/scripts/turbolinks.js" defer></script>
  <script type="module" src="/scripts/main.mjs"></script>
  {% block head_extra %} {% endblock %}
</head>

<body>
  <section class="container">
    {% if not section or not section.path == '/' %}
      <header class="main-header is-flex-column is-centered">
        <div class="header-logo-text is-flex is-centered">
          <img src="/images/logo-32x32.png" class="header-logo" alt="A disc with a dubious-looking sector">
          <a class="title" href="/">Dubious Disc</a>
          <small>Darshak Parikh's internet home</small>
        </div>
        {% set links = load_data(path="content/links.json") %}
        <nav class="header-nav">
          <ul class="is-flex">
            {% for link in links.pages %}
              <li>
                <a href="{{ link.url }}">{{ link.text }}</a>
              </li>
            {% endfor %}
          </ul>
        </nav>
      </header>
    {% endif %}
    {% block content %} {% endblock %}
    {% block footer %} {% endblock %}
  </section>
</body>

</html>