<!DOCTYPE html>
<html lang="en">

<head>
  <title>{% block htmltitle %} {% endblock %} · prose&const</title>

  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="{% block description %}Darshak Parikh's internet home{% endblock %}" />

  <link rel="stylesheet" href="/main.css" />
  <link rel="stylesheet" href="/icons/remixicon.css" media="print">
  <link rel="stylesheet" href="/alt/main.css" media="print" onload="this.media='all'">

  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">

  <script src="https://unpkg.com/turbolinks@5.2.0" defer></script>
  <script type="module" src="/scripts/main.mjs"></script>

  {% block head_extra %} {% endblock %}
</head>

<body class="default-style">
  <section class="container">
    <header class="main-header is-flex is-centered-y">
      <div class="header-logo-text is-flex is-centered-y">
        <a href="/">
          <picture>
            <source srcset="/images/prose&const-dark-bg.svg" media="(prefers-color-scheme: dark)">
            <img src="/images/prose&const.svg" alt="prose&const logo" width="192">
          </picture>
        </a>
        <small>Code and musings by Darshak Parikh</small>
      </div>
      {% set links = load_data(path="content/links.json") %}
      <nav class="header-nav">
        <ul class="is-flex">
          {% for link in links.pages %}
            <li>
              <a href="{{ link.url }}">{{ link.text }}</a>
            </li>
          {% endfor %}
        </ul>
      </nav>
    </header>
    {% block content %} {% endblock %}
    {% block footer %} {% endblock %}
    <link rel="stylesheet" href="/icons/remixicon.css">
  </section>
</body>

</html>