<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{% block htmltitle %} {% endblock %} · Dubious Disc</title>
  <meta name="description" content="{% block description %}Darshak Parikh's internet home{% endblock %}" />
  <link rel="stylesheet" href="/main.css" />
  <script src="/scripts/turbolinks.js" defer></script>
  <script type="module" src="/scripts/main.mjs"></script>
  {% block head_extra %} {% endblock %}
</head>

<body>
  <section class="container">
    <header class="main-header is-centered">
      <img src="/images/logo-32x32.png" class="logo" alt="A disc with a dubious-looking sector">
      <a class="title" href="/">Dubious Disc</a>
    </header>
    {% block content %} {% endblock %}
    {% block footer %} {% endblock %}
  </section>
</body>

</html>