{% macro stat_bar(current, total, color) %}
  <div class="stat-bar is-flex">
    <div style="width: {{ (current / total) * 100 }}%; background-color: {{ color }};"></div>
    <div style="width: {{ ((total - current) / total) * 100 }}%; background-color: slategray;"></div>
  </div>
{% endmacro %}

{% macro player_info() %}
  <div class="info is-centered is-flex-wrap">
    <figure class="avatar">
      <img src="images/avatar.gif" alt="A superhero rendition of myself" />
    </figure>
    <div>
      <h1>Darshak Parikh</h1>
      <ul>
        <li>Web + GTK developer</li>
        <li>Linux junkie</li>
        <li>Polyglot</li>
        <li>Retrogamer</li>
      </ul>
    </div>
  </div>
{% endmacro %}
