{% import "macros.html" as macros %}

{% extends "base.html" %}

{% block htmltitle %}
  {{ page.title }}
{% endblock %}

{% block description -%}
  {% if page.description -%}
    {{ page.description }}
  {%- endif %}
{%- endblock %}

{% block content %}
  <main class="page-wrapper is-centered-y is-flex-column">
    <article class="page">
      <header>
        <h1 class="page-title">{{ page.title }}</h1>
        <div class="byline">
          {% if not page.extra.hide_author %}
            <address>// Posted by <a rel="author" href="/about">{{ config.extra.author }}</a></address>
          {% endif %}
          {% if page.date %}
            on <time pubdate datetime="{{ page.date }}">{{ page.date }}</time>
          {% endif %}
        </div>
        {% if page.taxonomies.tags %}
          <div class="byline">
            // Tags:
            {% for tag in page.taxonomies.tags %}
              <a class="tag" href="{{ get_taxonomy_url(kind='tags', name=tag) }}">
                #{{ tag }}
              </a>
            {% endfor %}
          </div>
        {% endif %}
      </header>
      
      <section class="page-body">
        {{ page.content 
          | replace(from=`<a href="`, to=`<a target="_blank" rel="noopener" href="`)
          | replace(from=`<a target="_blank" rel="noopener" href="` ~ config.base_url, to=`<a href="` ~ config.base_url)
          | replace(from=`<a target="_blank" rel="noopener" href="/`, to=`<a href="/`)
          | safe
        }}
      </section>

      {% if not page.extra.hide_author %}
        <footer>
          <hr class="page-footer-separator" />
          <p class="page-footer">Thoughts? Comments? Reach out to me on
            <a href="https://im-in.space/@dubiousdisc">Mastodon</a>
            or
            <a href="https://twitter.com/dar5hak">Twitter</a>.
          </p>
        </footer>
      {% endif %}
    </article>
  </main>
{% endblock %}