{% extends "base.html" %}
{% block htmltitle %}
  {{ page.title }}
{% endblock %}
{% block description -%}
{% if page.description -%}
  {{ page.description }}
{%- endif %}{%- endblock %}{% block content %}
<main class="page-wrapper is-centered-y is-flex-column">
  <article class="page is-flex-column">
    <header>
      <h1>{{ page.title }}</h1>
      <div class="byline-container">
        <span class="byline date">
          {% if page.date %}
            Posted
            <time class="value" datetime="{{ page.date }}" pubdate>{{ page.date | date(format="%-d %b %Y") }}</time>
          {% endif %}
          {% if page.updated %}
            &middot; Updated
            <time class="value" datetime="{{ page.updated }}">{{ page.updated | date(format="%-d %b %Y") }}</time>
          {% endif %}
        </span>
        {% if page.taxonomies.tags %}
          &middot;
          <span class="byline tags">
            {% for tag in page.taxonomies.tags %}
              <a class="tag" href="{{ get_taxonomy_url(kind='tags', name=tag) }}">#{{ tag }}</a>
            {% endfor %}
          </span>
        {% endif %}
      </div>
    </header>
    <section class="page-body">
      {{ page.content
          | replace(from=`<a href="`, to=`<a target="_blank" rel="noopener" href="`)
          | replace(from=`<a target="_blank" rel="noopener" href="` ~ config.base_url, to=`<a href="` ~ config.base_url)
          | replace(from=`<a target="_blank" rel="noopener" href="/`, to=`<a href="/`)
          | safe }}
    </section>
    {% if not page.extra.hide_footer %}
      <footer class="page-footer">
        <address class="is-centered-y">
          <div class="headshot-small"><img alt="Darshak Parikh's photo" src="/images/photo.webp"/> </div>
          <div>
            <p>Hello, I’m Darshak Parikh. I write apps
              <a href="https://github.com/elfenware" target="_blank">for elementary OS</a>
              and
              <a href="https://github.com/dar5hak" target="_blank">the web</a>.
                                And I read
              <a href="digital-garden/books/">books</a>
              and
              <a href="digital-garden/manga-and-friends/">stuff</a>.
            </p>
            <p>
              <a href="/about">Know more about me</a>, or reach out to me on
              <a href="https://im-in.space/@dubiousdisc" rel="noopener" target="_blank">Mastodon</a>
              or
              <a href="https://twitter.com/dar5hak" rel="noopener" target="_blank">Twitter</a>.
            </p>
          </div>
        </address>
        <!-- <i> Thoughts? Comments? Reach out to me on <a target="_blank" rel="noopener" href="https://im-in.space/@dubiousdisc">Mastodon</a> or <a target="_blank" rel="noopener"
        href="https://twitter.com/dar5hak">Twitter</a>. </i> -->
      </footer>
    {% endif %}
  </article>
</main>{% endblock %}