{% extends "page.html" %}

{% block head_extra %}
  <style>
    .project {
      display: flex;
      margin-top: 2.5rem;
    }

    .project-logo {
      flex: 0 0 64px;
    }

    .page-wrapper .page img {
      box-shadow: none;
      margin: 0;
      width: 48px;
    }

    .page-wrapper .page h3 {
      margin: 0 0 0.5rem;
    }

    .page-wrapper .page p {
      margin: 1em 0;
    }
  </style>
{% endblock %}

{% block content %}
  <main class="page-wrapper is-centered-y is-flex-column">
    <article class="page projects">
      <header>
        <h1>Projects</h1>
      </header>
      
      <section class="page-body">
        {% set projects = load_data(path="content/projects.json") %}
        {% for project_section in projects.sections %}
          <h2>{{ project_section.title }}</h2>
          {% for project in project_section.items %}
            <div class="project">
              <div class="project-logo">
                {% if project.logo %}
                  <img src="{{ project.logo }}">
                {% endif %}
              </div>
              <div class="project-text">
                <h3>{{ project.name }}</h3>
                {{ project.description | markdown | safe }}
                {% if project.links %}
                  <p>
                    {% for link in project.links -%}
                      <a href="{{ link.href }}">{{ link.title }}</a>{% if not loop.last %} · {% endif %}
                    {% endfor %}
                  </p>
                {% endif %}
              </div>
            </div>
          {% endfor %}
        {% endfor %}
      </section>
    </article>
  </main>
{% endblock %}