{% extends "base.html" %}

{% import "macros.html" as macros %}

{% block htmltitle %}
  {{ section.title }}
{% endblock %}

{% block description -%}
  {% if section.description -%}
    {{ section.description }}
  {%- endif %}
{%- endblock %}

{% block content %}
  <main class="section-wrapper is-centered-y is-flex-column">
    <section class="section">
      <h1 class="section-title">{{ section.title }}</h1>
      <ul class="section-list">
        {% for page in section.pages %}
          <li>
            <a href="{{ page.permalink }}" data-focusable {% if loop.first %}data-autofocus{% endif %}>{{ page.title }}</a>
          </li>
        {% endfor %}
      </ul>
    </section>
  </main>
{% endblock %}