{% extends "base.html" %}

{% block htmltitle %}
  {{ section.title }}
{% endblock %}

{% block description -%}
  {% if section.description -%}
    {{ section.description }}
  {%- endif %}
{%- endblock %}

{% block head_extra %}
  {% if section.extra.keywords -%}
    <meta name="keywords" content="{{ section.extra.keywords | join(sep=', ') }}">
  {% else %}
    <meta name="keywords" content="">
  {%- endif %}
{%- endblock %}

{% block content %}
  <main class="section-wrapper is-centered-y is-flex-column">
    <article class="article">
      <header>
        <h1>{{ section.title }}</h1>
      </header>
      <section class="section-list">
        {% for page in section.pages %}
          <a href="{{ page.permalink }}" data-focusable {% if loop.first %}data-autofocus{% endif %}>{{ page.title }}</a>
          <time datetime="{{ page.date }}">{{ page.date | date(format="%-d %b %Y") }}</time>
        {% endfor %}
      </section>
    </article>
  </main>
{% endblock %}